*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html,
body {
	background: rgb(76, 75, 75);
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	font-size: 16px;
	scroll-behavior: smooth;
	height: 100%;
	overflow-x: hidden;
	margin: 0;
}

body::-webkit-scrollbar {
	width: 5px;
}

body::-webkit-scrollbar-thumb {
	background-color: #fff;
	border-radius: 50px;
}

img {
	max-width: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.header__background-img {
	background: url(https://images.wallpaperscraft.ru/image/single/samuraj_voin_siluet_216195_3840x2160.jpg) center / cover no-repeat fixed;
}

.fullscreen {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 30px;
}

._anim-show {
	transform: translateY(50%);
	opacity: 0;
	transition: all 0.8s ease 0s;
}
._anim-show._active,
._active ._anim-show{
	opacity: 1;
	transform: translateY(0px);
}


.header_text {
	padding: 10px;
	position: relative;
	top: 45vh;
	color: rgb(76, 75, 75);
	font-size: calc(18px + 2 * (100vw / 1366));
	letter-spacing: 2px;
}

.header_h1 {
	transform: translate(0px, 120%);
	opacity: 0;
	transition: all 0.8s ease 0s;
	font-size: calc(30px + 10 * (100vw / 1366));
}

.header_h1._active {
	transform: translate(0px, 0px);
	opacity: 1;
}

.header_p {
	font-weight: 600;
	padding-top: 15px;
	transform: translate(0px, 50%);
	opacity: 0;
	transition: all 0.8s ease 0.5s;
	max-width: 50%;
}

.header_p._active {
	transform: translate(0px, 0px);
	opacity: 1;
}

.maxWidth {
	max-width: 90%;
	margin: 0px auto;
}

.h2 {
	font-weight: bold;
	font-size: calc(30px + 10 * (100vw / 1366));
	padding: 10px 0;
}

.block__text {
	font-size: calc(18px + 5 * (100vw / 1366));
	padding: 10px 0;
	word-spacing: 4px;
	line-height: 28px;
	overflow: hidden;
}

.block__text:last-child {
	padding-bottom: 0;
}

.gallery {
	padding: 0 30px;
	position: relative;
}

.gallery h2 {
	padding-bottom: 20px;
	padding-top: 0;
}

.img__card img {
	width: calc(300px + 100 * (100vw / 1366));
	height: calc(300px + 100 * (100vw / 1366));
}

.img__card {
	text-align: center;
}


.card .swiper-button-next::after,
.card .swiper-button-prev::after {
	color: #fff;
	font-size: 30px;
}

.card .swiper-button-next {
	padding-left: 20px;
}

.card .swiper-button-prev {
	padding-right: 10px;
}

.card .swiper-pagination {
	bottom: -30px;
}

.card .swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	line-height: 20px;
	font-size: 14px;
	background-color: #fff;
}

.text__card {
	font-size: 25px;
	padding: 5px 0;
	text-align: center;
}

.list__item {
	font-size: calc(18px + 5 * (100vw / 1366));
	padding: 10px 0;
	word-spacing: 4px;
	line-height: 28px;
}

.list__item:first-child {
	padding-top: 30px;
}

.modal {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease;

}

.modal.open {
	opacity: 1;
	pointer-events: auto;
	transition: opacity 0.3s ease;
}

.modal img {
	width: calc(300px + 400 * (100vw / 1366));
	height: calc(300px + 400 * (100vw / 1366));
	padding: 20px;
}

.close-btn {
	color: #fff;
	font-size: 60px;
	position: absolute;
	top: 20px;
	right: 30px;
	cursor: pointer;
}


@media (max-width: 767px) {
	.maxWidth {
		max-width: 100%;
	}

	.header_h1 {
		font-size: calc(30px + (10 + 10 * 0.7) * ((100vw - 320px) / 1366));
	}

	.header_text {
		font-size: calc(18px + (2 + 2 * 0.7) * ((100vw - 320px) / 1366));
		top: 10vh;
	}

	.header_p {
		max-width: 90%;
	}

	.h2 {
		font-size: calc(30px + (10 + 10 * 0.7) * ((100vw - 320px) / 1366));
	}

	.block__text {
		font-size: calc(18px + (5 + 5 * 0.7) * ((100vw - 320px) / 1366));
	}

	.list__item {
		font-size: calc(18px + (5 + 5 * 0.7) * ((100vw - 320px) / 1366));
	}

	.img__card img {
		width: calc(300px + (100 + 100 * 0.7) * ((100vw - 320px) / 1366));
		height: calc(300px + (100 + 100 * 0.7) * ((100vw - 320px) / 1366));
	}

	.modal img {
		width: calc(300px + (400 + 400 * 0.7) * ((100vw - 320px) / 1366));
		height: calc(300px + (400 + 400 * 0.7) * ((100vw - 320px) / 1366));
	}
}